//
@font-face {
	font-family: "adam";
	src: url(../../font/adam-400.otf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "artisan";
	src: url(../../font/artisan-400.otf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "lovelo";
	src: url(../../font/lovelo.otf);
	font-style: normal;
	font-weight: 300;
}
