.footer {
	display: block;
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
	max-width: 1300px;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: var(--color-background);
	color: var(--color-black);
	text-align: center;

	&__icon {
		width: 4em;
		margin: 4em 2em;
		cursor: pointer;
		transition: transform .2s;

		&:hover {
			transform: scale(1.5);
		}
	}

	&__img {
		width: 3em;
		margin-right: 1em;
	}

	&__info {
		display: flex;
		justify-content: center;
		align-items: center;

		i {
			margin-right: 15px;
			color: var(--color-black);
		}
	}
}

.contact-icon-container {
	margin-top: -130px;
	margin-bottom: 5em;
}

.contact-icon1 {
	@include contact-icon;
}

.contact-icon1:hover {
	transform: scale(1.3);
	color: var(--g-mail);
}

.contact-icon2 {
	@include contact-icon;
}

.contact-icon2:hover {
	transform: scale(1.3);
	color: var(--github);
}

.contact-icon3 {
	@include contact-icon;
}

.contact-icon3:hover {
	transform: scale(1.3);
	color: var(--linkedin);
}

.updating-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--footer-gif);
	color: var(--color-white);
}

// ------------- MOVING EYE ----------

.eye-container {
	display: flex;
	justify-content: right;
	width: 100%;
}

.esclerotica {
	position: relative;
	width: 100px;
	height: 100px;
	margin-right: 100px;
	background: radial-gradient(
		circle at 46% 45%,
		white 0%,
		white 50%,
		white 55%,
		#ababab 100%
	);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iris {
	position: absolute;

	background: radial-gradient(circle at 50% 50%, #c7eaff 0%, #009eff 100%);
	width: 40px;
	height: 40px;
	top: calc(100% - 45px);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pupila {
	background: black;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.pupila::before {
	content: "";
	width: 10px;
	height: 10px;
	top: 20px;
	left: 10px;
	border-radius: 50%;
	opacity: .2;
	background: white;
	position: absolute;
	z-index: 1000;
}

// MEDIA QUERYS ------------------------------

@media only screen and (max-width: 900px) {
	.eye-container {
		display: none;
	}

	.contact-icon-container {
		margin-top: 0;
	}
}

@media only screen and (max-width: 375px) {
	.updating-container {
		flex-direction: column;

		&__p {
			padding: 20px 20px 0 20px;
			text-align: center;
		}
	}
}
